<html>
    <head>
        <title>Movies app</title>
    </head>
    <body>
        <h1>INDEX PAGE FOR MOVIES APP</h1>
        <script>
            window.location.href = "/insert";
        </script>
    </body>
</html>