<!DOCTYPE html>
<html>
    <head>
        <title>Insert a new movie</title>
    </head>

    <body>
        <h1>ADD NEW MOVIE</h1>
        <form id="newMovie" method="post" action="/insert">
            <input type="text" id="name" name="name" placeholder="New movie name">
            <br>
            <input type="text" id="year" name="year" placeholder="Year in YYYY">
            <input type="text" id="rank" name="rank" placeholder="Rank out of 10.0">
            <input type="submit" value="Add new movie">
        </form>
        
        <script src="/js/replicate.js"></script>
    </body>
</html>